{% if dark_mode -%}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -20 {{ max_x }} {{ max_y + 60 }}" style="background: black">
{% else %}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -20 {{ max_x }} {{ max_y + 60 }}">
{%- endif %}
<style type="text/css"><![CDATA[
.branch {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
}
{% if dark_mode -%}
.commit {
  fill: none;
  stroke-width: 6;
}
.label-text {
  font-family: Inconsolata, Consolas, monospace;
  font-size: 14px;
  fill: #000;
  stroke: none;
}
.commit-text {
  font-family: Inconsolata, Consolas, monospace;
  fill: #000;
  stroke: none;
}
{% else %}
.commit {
  fill: none;
  stroke-width: 6;
}
.label-text {
  font-family: Inconsolata, Consolas, monospace;
  font-size: 14px;
  fill: #fff;
  stroke: none;
}
.commit-text {
  font-family: Inconsolata, Consolas, monospace;
  fill: #fff;
  stroke: none;
}
{%- endif %}
.label-tag {
  fill: #333;
}
.label-rect {
  stroke: none;
}

{% for branch in branches %}
.branch-{{ branch.name }} {stroke: {{ branch.colour }}; fill: {{ branch.colour }}}
{% endfor %}
]]></style>
<g class="merge">
{% for branch in branches -%}
  <g class="branch-{{ branch.name }}">
    <path class="branch" d="{{ branch.start_path.svg }}" />
{% for merge in branch.merges -%}
    <path class="branch" d="{{ merge.path.svg }}" />
{%- endfor %}
{% if branch.end_path != None -%}
    <path class="branch" d="{{ branch.end_path.svg }}" />
{%- endif %}
  </g>
{%- endfor %}
</g>
{% for branch in branches -%}
<g class="branch-{{ branch.name }}">
  <path class="branch" d="{{ branch.middle_path.svg }}" />
{% for commit in branch.commits -%}
{% set length = commit.name | length -%}
  <circle class="commit" cx="{{ commit.position.x }}" cy="{{ commit.position.y }}" r="7.5"/>
{% if length == 1 -%}
  <text x="{{ commit.position.x - 4 }}" y="{{ commit.position.y + 4 }}" class="commit-text" font-size="14px">{{ commit.name }}</text>
{% elif length == 2 %}
  <text x="{{ commit.position.x - 7 }}" y="{{ commit.position.y + 4 }}" class="commit-text" font-size="12px">{{ commit.name }}</text>
{% else %}
  <text x="{{ commit.position.x - 8 }}" y="{{ commit.position.y + 4 }}" class="commit-text" font-size="10px">{{ commit.name }}</text>
{%- endif %}
{%- endfor %}
  <g class="label-branch" transform="translate({{ branch.label.position.x }}, {{ branch.label.position.y }})">
    <rect x="0" y="-14" width="{{ branch.label.width + 10 }}" height="24" rx="3" class="label-rect" />
    <text x="5" y="2" textLength="{{ branch.label.width }}" class="label-text">{{ branch.name }}</text>
  </g>
</g>
{%- endfor %}
</svg>
